@import "base";

.search-bar {
    width: 100%;
    background: $black-05;
    padding: 0 .5rem;
    border-radius: .25rem;
    
    input[type=search] {
        border: transparent;
        background: transparent;
        padding: 0.375rem 0.25rem 0.2rem;

        &:focus {
            box-shadow: none;
            caret-color: $primary;
        }

        &::placeholder {
            color: $gray-200;
        }
    }
}

// btn
.nav {
    flex-wrap: nowrap;

    .nav-item {
        flex: 1 1 auto;
    }
    .nav-link { 
        padding: .25rem .375rem;
        text-align: center;
        color: $gray-300;

        transition: all .4s;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: .5rem .375rem;
        }

        span {
            margin: .25rem;

            @media (min-width: 768px) {
                margin-right: 0.5rem;
            }
        }

        div {
            margin: 0;
        }
        
        &:hover {
            color: $primary;
        }
    }
}



.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .375rem 0;

    h4 {
        color: $black-03;
        margin: 0;
    }

    p {
        margin: 0;
        color: $gray-300;
    }
}

@mixin textOverflow($number) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
}

.card-level {
    @extend %caption2-a;
    color: $white;
    background-color: $primary;
    border: 0;
    
    padding: calc(0.125rem + 0.6vw) calc(0.25rem + 0.6vw);
    @extend %radius4;
    @extend %text-bg;
    min-width: 3.625rem;
    max-width: 35%;
    @include textOverflow(1);
}   

.smallCard {
    border: transparent;

    .img-container {
        position: relative;

        img {
            aspect-ratio: 16 / 9;
            @extend %radius8;
            @extend %r-bg; 
        }
    }
    span {
        background-color: $white-02;
        width: 12%;
        height: 12%;
        position: absolute;
        right: 3%;
        top: 7%;
    }
    .card-cover {
        width: 100%;
        background: $other-03;
    
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .5rem;
        
        padding: .25rem .625rem;
        min-height: 18%;
    
        position: absolute;
        left: 0;
        bottom: 0;
        
        border-radius: 0 0 .5rem .5rem;
        overflow: hidden;

        @media (min-width: 768px) {
            padding: 0.6rem 1rem;
        }

        p {
            margin: 0;
            color: $white;
            @extend %text-bg;
            max-width: 65%;
            @include textOverflow(1);
            overflow: hidden;
        }
    }

    .card-body {
        padding: .625rem;
    }               
    .card-title {
        color: $black-03;
        @extend %text-bg;

        min-height: 2.5rem;
        overflow: hidden;
        @include textOverflow(2);

        @media (min-width: 768px) {
            min-height: 4.375rem; 
        }
    }
}

.avator_small {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .25rem;
    padding: 0.0625rem .25rem;

    .footnote {
        color: $gray-100;
        @extend %text-bg;

        margin: 0;
        width: 75%;
        @include textOverflow(1);
        overflow: hidden;
    }
}   