@import "base";

.search-bar {
    width: 100%;
    background: $black-05;
    padding: .25rem 0.5rem;
    border-radius: .25rem;

    .form-control {
        @extend %footnote;
        padding: 0;
    }

    input[type=search] {
        border: transparent;
        background: transparent;

        &:focus {
            box-shadow: none;
            caret-color: $primary;
        }

        &::placeholder {
            color: $gray-200;
        }
    }
}



///////// btn//////////////////////////////////
.nav {
    flex-wrap: nowrap;

    .nav-item {
        flex: 1 1 auto;
    }
    .nav-link { 
        padding: .25rem .375rem;
        text-align: center;
        color: $gray-300;

        transition: all .4s;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: .5rem .375rem;
        }

        span {
            margin: .25rem;

            @media (min-width: 768px) {
                margin-right: 0.5rem;
            }
        }

        div {
            margin: 0;
        }
        
        &:hover {
            color: $primary;
        }
    }
}

// item
.button, %button {
    @extend %subhead;
    padding: .625rem 1.875rem;
    border: .025rem solid $black-05;
    color: $primary;
    background-color: $other-01;
    @extend %text-bg-box;
    margin: 0;
    @extend %radius8;
    cursor: pointer;

    &:hover {
        border: .025rem solid $primary;
        color: $white;
        background-color: $primary;
    }
}
.button-active {
    @extend %button;
    border: .025rem solid $primary;
    color: $white;
    background-color: $primary;
}

// movie-under
.movieUnder-btn {
    padding: .1875rem .125rem;
    @extend %caption1;
    color: $gray-200;
    @extend %radius8;
    cursor: pointer;

    transition: all .4s;
        @media (max-width: 320px) {
            padding: .125rem .1563rem;
        }
        @media (min-width: 768px) {
            padding: .625rem;
        }
    &:hover {
        color: $primary;
        background-color: $white;
        @extend %r-bg;
    }
}

// movie-btn
.movie-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    transition: all .4s;
    cursor: pointer;

    h6 {
        margin: 0;
        color: $black-03;
    }
    .box {
        width: 100%;
        height: .25rem;
        background-color: $gray-500;
        border-radius:  0;
    }
    &:hover {
        h6 {
            color: $primary;
        }
        .box {
            background-color: $primary;
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }
}

// order-btn
.order-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .125rem;
    transition: all .4s;
    cursor: pointer;

    .footnote {
        margin: 0;
        color: $gray-300;
        letter-spacing: -0.0313rem;
    }
    .box {
        width: 100%;
        height: .25rem;
        border-radius:  0;
        background: transparent;
    }
    &:hover {
        .footnote {
            color: $primary;
        }
        .box {
            background-color: $primary;
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }
}

.orderSchedule-btn, %orderSchedule-btn {
    padding: .375rem;
    background-color: $white;
    color: $primary;
    @extend %radius4;
    @extend %text-bg-box;
    border: 0;

    .caption1 {
        margin: 0;
    }
}

.orderSchedule-btn-pri {
    @extend %orderSchedule-btn;
    background-color: $primary;
    color: $white;
}

// Date reservation / Status
.date-btn {
    @extend %button;
    padding: calc(0.72rem + 0.2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    @media (min-width: 768px) {
        span {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
    .subhead {
        margin: 0;
    }
}

// Message///////////////////////////////
.message-avator, %message-avator {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    
    background-color: $gray-400;
    @extend %text-bg-box;
    
    img {
        @extend %message-avator;
        width: 100%;
        height: 100%;
    }
}


// compony/status
.company-focus, %company-focus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .0625rem;
    padding: .625rem 1.875rem;
    color: $white;
    background-color: $primary;
    @extend %text-bg-box;
    border: 0;
    @extend %radius8;
    cursor: pointer;
    @media (min-width: 768px) {
        span {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
    .subhead {
        margin: 0;
    }

    &:active {
        background-color: darken($color: $primary, $amount: 10%);
        color: $white;
    }
}

.company-following {
    @extend %company-focus;
    padding: calc(0.625rem + 0.5vw);
    color: $primary;
    background-color: $other-01;
    border: .025rem solid $black-05;
    .subhead {
        margin: 0;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.08);
        border-color: $black-05;
        color: $primary;
    } 

}
.company-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 0.5813rem;
    color: $primary;
    background-color: $white;
    @extend %text-bg-box;
    @extend %radius8;
    border: .05rem solid $primary;
    cursor: pointer;
    transition: all .3s;
    @media (min-width: 768px) {
        padding: 0.875rem;

        span {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
    .subhead {
        margin: 0;
    }

}



.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(0.375rem + 0.1vw) 0;

    h4 {
        color: $black-03;
        margin: 0;
    }

    p {
        margin: 0;
        color: $gray-300;
        text-shadow: 0 0 0.0125px $gray-300;
        cursor: pointer;
    }
}

@mixin textOverflow($number) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
}

.card-level {
    @extend %caption2-a;
    color: $white;
    background-color: $primary;
    border: 0;
    
    padding: calc(0.125rem + 0.6vw) calc(0.25rem + 0.6vw);
    @extend %radius4;
    @extend %text-bg;
    min-width: 3.625rem;
    max-width: 35%;
    @include textOverflow(1);
}

.stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    margin: 5px 0;
    .icons {
        display: flex;
        gap: 0;
        
        .icon {
            width: 1rem;
            height: 1rem;

            @media (min-width: 768px) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .star, .half-star {
            background-color: $primary;
        }
    }
    .fraction {
        @extend %caption2-a;
        color: $black-02;
        margin-top: 0.0625rem;
    }
    .messages-number {
        @extend %caption2;
        color: $gray-300;
        margin-top: 0.0625rem;
    }
}

.smallCard, %smallCard {
    border: transparent;

    .img-container {
        position: relative;

        img {
            aspect-ratio: 16 / 9;
            @extend %radius8;
            @extend %r-bg; 
        }
        span {
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            right: 3%;
            top: 7%;

            @media (min-width: 768px) {
                width: 2.25rem;
                height: 2.25rem;
            }
        }
        .unfill-heart {
            background-color: $white-02;
        }
        .heart {
            background-color: $primary;
        }
        .card-cover {
            width: 100%;
            background: $other-03;
        
            display: flex;
            justify-content: start;
            align-items: center;
            gap: .5rem;
            
            padding: .25rem .625rem;
            // min-height: 18%;
        
            position: absolute;
            left: 0;
            bottom: 0;
            
            border-radius: 0 0 .5rem .5rem;
            overflow: hidden;
    
            @media (min-width: 768px) {
                padding: 0.6rem 1rem;
            }
    
            p {
                margin: 0;
                color: $white;
                @extend %text-bg;
                max-width: 65%;
                @include textOverflow(1);
                overflow: hidden;
            }
        }
    }

    .card-body {
        padding: calc(0.625rem + 0.3vw) .625rem;
    }               
    .card-title {
        color: $black-03;
        @extend %text-bg;

        min-height: 2.5rem;
        overflow: hidden;
        @include textOverflow(2);

        @media (min-width: 768px) {
            min-height: 4.375rem; 
        }
    }
}

.movieCard, %movieCard {
    @extend %smallCard;
    .img-container {
        span {
            background-color: $white;
            @media (min-width: 768px) {
                    width: 3rem;
                    height: 3rem;
            }
        }
        .card-cover {
            background: $black-04;
            padding: .375rem 1.125rem;
    
            p {
                max-width: 100%;
            }
        }
    }
}

.avator_small, %avator_small {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(0.25rem + 0.2vw);
    padding: 0.0625rem .25rem;

    img {
       flex-shrink: 0;
    }
    .footnote {
        color: $gray-100;
        @extend %text-bg;

        margin: 0;
        width: 75%;
        @include textOverflow(1);
        overflow: hidden;
    }
    .caption2 {
        margin: 0;
        color: $gray-100;
    }
}

.avator_large {
    @extend %avator_small;
    gap: calc(0.5rem + 0.2vw);

    .avator-user {
        width: 2.5rem;
        height: 2.5rem;
    }
    .footnote {
        color: $black-02;
        width: 100%;
    }
}

.price {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: calc(0.25rem + 0.4vw);

    h5, h4, p {
        margin: 0;
        @extend %text-bg;
    }
    h5, p {
        color: $black-01;
    }
}

.largeCard, %largeCard {
    @extend %smallCard;
        img {
            @extend %class-bg; 
        }
    .card-cover {
        padding: .375rem .625rem;
        min-height: 10%;

        @media (min-width: 768px) {
            padding: 0.8rem 1rem;   
        }
    }              
    .card-title {
        color: $black-02;
        min-height: 0;

        @media (min-width: 768px) {
            min-height: 0; 
        }
    }
    .card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        overflow: hidden;

        @media (min-width: 768px) {
            min-height: 4rem; 
        }
    }
    .footnote {
        width: 100%;
    }    
}

.line {
    width: 100%;
    height: 0.0625rem;
    background-color: $gray-500;
}

// Card / Course reservation/Course Card/////////////////
.card-content {
    padding: calc(0.625rem + 0.2vw) 0;
    h5 {
        margin: .375rem 0;
        color: $black-01;
    }
    p {
        margin: 0;
        color: $gray-100;
    }
}

.company-card {
    position: relative;

    .img-container {
        @extend %radius8;
        overflow: hidden;
        background-color: $gray-400;
        aspect-ratio: 16 / 9;
    }
    .card-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(.5rem + 1vw);
        padding: calc(.625rem + 0.6vw) calc(1.125rem + 0.6vw) ;
        background: $white-03;
        @extend %blur3;
        border-radius: 0 0 .5rem .5rem;
        overflow: hidden;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .subhead {
            color: $black-02;
            margin: 0;
            @include textOverflow(1);
            overflow: hidden;
            text-align: center;
        }
        .stars {
            .messages-number {
                color: $gray-100;
            }
        }
    }
}

// movie_content-grid
.grid {
    display: flex;
    gap: 1rem;

        @media (min-width: 768px) {
            gap: 2rem;
        }

    .grid-left,
    .grid-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

            @media (min-width: 768px) {
                gap: 1.5rem;
            }
    }
    .grid-item {
        @extend %movieCard;
        .img-container {
            img {
                box-shadow: none;
            }
            span {
                width: 1.5rem;
                height: 1.5rem;
                @media (min-width: 768px) {
                    width: 3rem;
                    height: 3rem;
                }
            }
            .card-cover {
                padding: .375rem .625rem;
                min-height: auto;
    
            @media (min-width: 768px) {
                padding: 1rem 1.25rem;
            }
                p {
                    max-width: 100%;
                }
            }
        }
    }
    .item-2 {
        .img-container {
            img {
                aspect-ratio: 3 / 4;
            }
            span{
                right: 4%;
                top: 4%;
            }
        }
    }
}

// form//////////////////////////////////////
form {
    width: 100%;
    .title {
        margin-bottom: .5rem;
        h4 {
            color: $black-01;
        }
    }
    .input-field {
        &:not(:last-child) {
            margin-bottom: .375rem;
        }
        .form-label {
            @extend %subhead;
            color: $black-02;
            padding: .125rem 0;
            margin: 0;
            .title {
                margin: 0;
            }
        }
        .text-field {
            position: relative;

            .form-control {
                background-color: $white;
                padding: .625rem;
                @extend %subhead;
                line-height: 1.85;
                @extend %text-bg-box;
                border: .05rem solid $black-04;
                @extend %radius8;
        
                &::placeholder{
                color: $gray-200;
                }
                    @media (min-width: 768px) {
                        padding: .625rem 1rem;
                    }
        
                &:focus {
                    border: .1rem solid $info;
                    caret-color: $info;
                }
            }
            button {
                position: absolute;
                padding: .75rem .625rem;
                right: 0;
                top: 0;
    
                @media (max-width: 320px) {
                    padding: .5938rem .625rem;
                }
    
                @media (min-width: 768px) {
                    padding: 1.25rem 1rem;
                }
    
                &:active {
                    border-color: transparent;
                }
    
                span {
                    width: 1.25rem;
                    height: 1.25rem;
                    background-color: $gray-200;
        
                    @media (min-width: 768px) {
                        width: 1.875rem;
                        height: 1.875rem;
                    }
                }
            }
            .form-text {
                color: $danger;
                padding: .25rem .625rem;
                @extend %footnote;

                @media (min-width: 768px) {
                    padding: .375rem 1rem;
                }
            }
        }
    }
}

.discount {
    padding: .25rem .625rem;
    @extend %radius4;
    @extend %text-bg-box;
    background-color: $white;
    border: .125rem solid $primary;

    h6 {
        margin: 0;
        color: $primary;
    }
}

.profilePage {
    .cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $company;
    }
    .img-container {
        aspect-ratio: 16 / 9;
        border-radius: 0 0 .9375rem .9375rem;
        overflow: hidden;
        @extend %r-bg;

        img {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
    }
    .profilePage-avator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);

            @media (min-width: 768px) {
                transform: translate(-50%, 20%);
            }
            @media (min-width: 1024px) {
                transform: translate(-50%, 50%);
            }
            @media (min-width: 2560px) {
                transform: translate(-50%, 150%);
            }
        .circle-bg {
            background-color: $white-02;
            @extend %r-bg;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            position: relative;

            @media (min-width: 768px) {
                width: 15.625rem;
                height: 15.625rem;
            }
            @media (min-width: 1440px) {
                width: 21.875rem;
                height: 21.875rem;
            }
            .avator-container {
                width: 9.375rem;
                height: 9.375rem;
                border-radius: 50%;                    
                overflow: hidden;
                @extend %r-bg;

                position: absolute;
                top: 3%;
                left: 3%;

                @media (min-width: 768px) {
                    width: 14.6875rem;
                    height: 14.6875rem;
                }
                @media (min-width: 1440px) {
                    width: 20.3125rem;
                    height: 20.3125rem;
                }
            }
        }
    }
}

// order number card
.orderCard {
    width: 100%;
    overflow: hidden;
    .card-body {
        padding: 0 .75rem;
        border-radius: .5rem .5rem 0 0;
        border: .0625rem solid $black-04;
        border-bottom-color: transparent;
        background: $other-01;

        @include pad {
            padding: 0 1rem;
        }
        @include pad1024 {
            padding: 0 2rem;
            border: .125rem solid $black-04;
            border-bottom-color: transparent;
        }
        .card-title {
            margin-top: .375rem;
            margin-bottom: .25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include pad {
                margin-top: .625rem;
                margin-bottom: .375rem;
            }
            @include pad1024 {
                margin-top: .875rem;
                margin-bottom: .625rem;
            }
            .order-number {
                display: flex;
                gap: .625rem;
                h5, p{
                    margin: 0;
                    color: $black-02;
                }
            }
        }
        .line {
            background-color: $white;
            @include pad1024 {
                height: .25rem;
            }
        }
        .card-subtitle {
            margin-top: .5rem;
            margin-bottom: 1rem;
            @include pad {
                margin-top: .625rem;
                margin-bottom: 1.25rem;
            }
            @include pad1024 {
                margin-top: 1rem;
                margin-bottom: 1.375rem;
            }
                h6 {
                    color: $gray-100;
                    margin-bottom: .25rem;
                    @include pad {
                        margin-bottom: .625rem;
                    }
                    @include pad1024 {
                        margin-bottom: .75rem;
                    }
                }
                p {
                    color: $gray-200;
                    margin-bottom: 0;

                    @include mobile {
                        line-height: .625rem;
                    }
                }
        }
        .card-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .375rem;
                h5 {
                    color: $gray-100;
                    margin-bottom: 0;
                }
                .texts {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 1.25rem;
                    padding: .2188rem 0;

                    .text {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;

                        h6, .text-number, p{
                            color: $gray-200;
                            margin-bottom: 0;
                        }
                        h6 {
                            padding-right: .375rem;
                        }
                        .text-number {
                            @extend %caption2;
                            padding-right: .125rem;
                        }
                    }
                }
        }
        .card-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .625rem;
            @include pad {
                margin-bottom: .75rem;
            }
            @include pad1024 {
                margin-bottom: .875rem;
            }
                .date-btn {
                    padding: .125rem .3125rem;
                    border: .025rem solid $black-04;
                    @extend %radius4;
                    background-color: $gray-500;
                    .footnote {
                        margin-bottom: 0;  
                        color: $black-02;
                    }
                }
                h6 {
                    margin-bottom: 0;
                }
                .price {
                    h4 {
                        color: $primary;
                    }
                }
        }
    }
    .qrcode {
        background: $gray-500;
        border-radius: 0 0 .5rem .5rem;
        border: .0625rem solid $black-04;
        border-top-color: transparent;
        cursor: pointer;
        @include pad1024 {
            border: .125rem solid $black-04;
            border-top-color: transparent;
        }
        
        .footnote {
            padding: .375rem 0;
            margin-bottom: 0;
            text-align: center;
            color: $primary;
            @include pad {
                padding: .75rem 0;
            }
            @include pad1024 {
                padding: .875rem 0;
            }
        }
    }
}

.orderCard-details {
    width: 100%;
    overflow: hidden;
    .card-body {
        padding: 0 .75rem;
        border-radius: .5rem .5rem 0 0;
        border: .0625rem solid $black-03;
        border-bottom: .0625rem solid transparent;
        background: $other-01;

        @include pad {
            padding: 0 1rem;
        }
        @include pad1024 {
            padding: 0 2rem;
            border: .125rem solid $black-04;
            border-bottom-color: transparent;
        }
        .card-title {
            margin-top: .75rem;
            margin-bottom: .625rem;
            @include pad {
                margin-top: .625rem;
                margin-bottom: 1.25rem;
            }
            @include pad1024 {
                margin-top: 1rem;
                margin-bottom: 1.375rem;
            }
                h6 {
                    color: $black-02;
                    margin-bottom: .25rem;
                    @include pad {
                        margin-bottom: .625rem;
                    }
                    @include pad1024 {
                        margin-bottom: .75rem;
                    }
                }
                p {
                    color: $gray-200;
                    margin-bottom: 0;

                    @include mobile {
                        line-height: .625rem;
                    }
                }
        }
        .card-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
            .card-level {
                line-height: 1.5;
                padding: .125rem .2813rem;
                min-width: auto;
            }
            .texts {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1.25rem;
                padding: .2188rem 0;

                .text {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;

                    h6, .text-number, p{
                        color: $gray-200;
                        margin-bottom: 0;
                    }
                    h6 {
                        padding-right: .375rem;
                    }
                    .text-number {
                        @extend %caption2;
                        padding-right: .125rem;
                    }
                }
            }
        }
    }
    .cover {
        padding: .25rem 0;
        background-color: $black-05;
        border-radius: 0 0 .5rem .5rem;
        border: .0625rem solid $black-03;
        border-top: .0625rem solid $black-05;
        .courseName {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: .125rem 0;
            h6 {
                margin: 0;
                color: $gray-200;
                text-align: center;
                width: 100%;
            }
        }
        .line {
            background-color: $white;
            margin: .25rem 0;
        }
        .courseDetails {
            h6{
                color: $black-02;
            }
        }
    }
}

// footer/////////////////////////////
.tool-focus {
    @extend %company-focus;
    padding: 1rem .625rem;
    
    @media (min-width: 768px) {
        .subhead {
            line-height: 1.4;
        }
    }
    @media (min-width: 1440px) {
        padding: 1.06rem 0.625rem;
    }
}
.tool-normal {
    @extend %company-focus;
    padding: .78rem .625rem;
    color: $primary;
    background-color: $white;
    border: .05rem solid $black-05;

    @media (min-width: 768px) {
        padding: .98rem .625rem;

        .icon {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
    @media (min-width: 1400px) {
        padding: 1.13rem .625rem;
    }
   
    span {
        background-color: $primary;
    }

    &:active {
        background-color: darken($color: $white, $amount: 5%);
    }
}
.toolbar, %toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white-02;
    padding: calc(0.75rem + 0.4vw) 0;

    .subhead {
        margin: 0;
    }
}

.toolbar-checkout {
    @extend %toolbar;
    gap: 1rem;
    background-color: $white;
    padding: .125rem 0;

        @media (min-width: 768px) {
            padding: .25rem 0;
        }

    .left {
        .price {
            .title2, .number {
                line-height: 1;
            }
            .number {
                font-size: calc(1.5rem + 0.9vw);
                
                @media (min-width: 768px) {
                    font-size: calc(2rem + 0.9vw);
                }
            }
        }
        .feedback {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .375rem;
            .img-container {
                width: 1.375rem;
                height: 1.375rem;
                img {
                    background-color: $white;
                }
            }
            .callout {
                margin: 0;
                color: $primary;
                padding-top: .125rem;
            }
        }
    }
}
