@import "base";

.search-bar {
    width: 100%;
    background: $black-05;
    padding: 0 .5rem;
    border-radius: .25rem;
    
    input[type=search] {
        border: transparent;
        background: transparent;
        padding: 0.375rem 0.25rem 0.2rem;

        &:focus {
            box-shadow: none;
            caret-color: $primary;
        }

        &::placeholder {
            color: $gray-200;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .375rem 0;

    h4 {
        color: $black-03;
        margin: 0;
    }

    p {
        margin: 0;
        color: $gray-300;
    }
}

@mixin textOverflow($number) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
}