@import "all";

// ////////HEADER////////////////////////////////
header,footer {
    // position: fixed;
    // z-index: 2;
    // width: 100%;
    // background-color: $white;
}

header {
    // top: 0;
}

.navbar {
    .container {
        @media (min-width: 768px) {
            height: 4rem;
        }
    }

    button {
        padding: 0;
        color: $black-01;
    }
    
    form {
        @media (min-width: 768px) {
            height: 2.5rem;
        }
        span {
            background-color: $gray-100;
            padding-right: .25rem;

            @media (min-width: 768px) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
    .btn-group {
        button:nth-of-type(1) {
                margin-right: .25rem;
        }
        span {
            background-color: $black-02;
                @media (min-width: 768px) {
                    width: 1.8rem;
                    height: 1.8rem;
                }
        }
    } 
}

////////////////// MAIN//////////////////////////
main {
    display: flex;
    flex-direction: column;
    gap: calc(1.25rem + 1.3vw)
}
.courseCard {
    .imgs {
        @extend %radius2;
        overflow: hidden;
        position: relative;
        .img16-9 {
            aspect-ratio: 16 / 9;
        }
        .img1-1 {
            position: absolute;
            right: 4%;
            top: 25%;
            transform: translateY(-50%);
            z-index: 1;
    
            aspect-ratio: 1 / 1;
            width: 10%;
            @extend %radius2;
            overflow: hidden;
            border: 0.0625rem solid $white-01;
            @extend %text-bg-box;
    
            &:nth-of-type(2){
                top: 50%;
            }
    
            &:nth-of-type(3){
                top: 75%;
            }
        }
        .cover {
            @extend %caption2;
            display: inline-block;
            width: 10%;
            color: $white-01;
            text-align: center;
    
            position: absolute;
            right: 4%;
            top: 72%;
            z-index: 3;
    
            @media (max-width: 320px) {
                top: 71%;
            }
    
            @media (min-width: 768px) {
                top: 72.5%;
                font-size: 130%;
            }
            @media (min-width: 1024px) {
                top: 73.5%;
                font-size: 200%;
            }
        }
    }
    .card-body {
        padding-top: 1rem;
    
        .card-title {
            @extend %fontBody;
            margin-bottom: .75rem;
            @include textOverflow(2);
        }
        .evaluate {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .25rem;
            padding-bottom: .5rem;
        
            .stars {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .25rem;
                margin: 5px 0;
                
                .star, .half-star {
                    background-color: $primary;
                }
                
                .fraction {
                    @extend %caption2-a;
                    color: $black-02;
                    margin-top: 0.0625rem;
                }
                .messages-number {
                    @extend %caption2;
                    color: $gray-300;
                    margin-top: 0.0625rem;
                }
            }
        }
        .place {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        
            span {
                background-color: $gray-300;
                margin-right: .125rem;
            }
        
            h6 {
                margin: .3125rem 0;
                color: $gray-300;
            }
        }
    }
    .card-price {
        padding: .5rem 0;
        .card-box {
            width: 100%;
            height: 100%;
            background: $other-01;
            border: .0625rem solid $black-05;
            @extend %radius8;
            @extend %text-bg;
            padding: calc(0.75rem + 0.1vw) calc(1rem + 0.1vw);
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            .top {
                display: flex;
                width: 100%;
        
                .frame {
                    display: flex;
                    width: 100%;
                    .card-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        padding: calc(0.25rem + 0.4vw);
                        margin: auto;
        
                            @media (min-width: 768px) {
                                width: 90%;
                            }
                        
                        .hours {
                            display: flex;
                            justify-content: flex-end;
                            align-items: baseline;
                            gap: .25rem;
                        }
                        h6, p {
                            margin: 0;
                            color: $gray-100;
                        }
                        .amount {
                            @extend %fontBody;
                            color: $primary;
                        }
                    }
                }
                .straight {
                    background-color: $white;
                    width: calc(0.8rem + 0.1vw);
                    @extend %radius2;
        
                    margin: 0 1.125rem;
                }
            }
            .line {
                height: calc(0.2rem + 0.1vw);
                width: 100%;
                background-color: $white;
                @extend %radius2;
        
                margin: calc(0.5rem + 0.5vw) 0;
                
            }
            .bottom {
                display: flex;
                width: 100%;
        
                .frame {
                    display: flex;
                    width: 100%;
                    padding: calc(0.25rem + 0.4vw) calc(0.1563rem + 0.4vw);
        
                    .card-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
        
                        span {
                            margin-right: .25rem;
                        }
                        span, h6, p{
                            color: $gray-100;
                        }
                        h6, p {
                            margin: 0;
                        }
                        .text {
                            display: flex;
                            align-items: center;
                            gap: .25rem;
                        }
                    }
                }
                .straight {
                    background-color: $white;
                    width: calc(0.5rem + 0.1vw);
                    @extend %radius2;
                    margin: 0 1rem;
        
                    @media (max-width: 320px) {
                        margin: 0 .4rem;
                    }
                }
            }
        }
        
        .price {
            margin: .75rem 0 .5rem;
            h4 {
                color: $primary;
            }
        }
    }
}


.segmented-controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1.25rem;
}
.btn-active {
    h6 {
        color: $primary;
    }
    .box {
        background-color: $primary;
        border-radius: 0.25rem 0.25rem 0 0;
    }
}

// content////////////////////////////
content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(2.2rem + 0.3vw);
}

// plans/////////////////////////////////
.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .75rem;
    padding-bottom: 2.25rem;

    .title {
        h4 {
            color: $black-02;
        }
    }
    .times {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(98px,1fr));
        grid-column-gap: 15px;
        grid-row-gap: 12px;
        width: 100%;
    }
    .options {
        width: 100%;
        .date-btn:not(:last-child),
        .people:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .people {
        border: .025rem solid $black-05;
        background-color: $other-01;
        @extend %text-bg-box;
        @extend %radius8;
        padding: .75rem 1rem;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .adult {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: .125rem;
    
            .subhead, .caption2 {
                margin: 0;
            }
            .subhead {
                color: $black-02;
            }
            .caption2 {
                color: $gray-200;
            }
        }
    
        .course-number {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.375rem;
            span {
                color: $gray-300;
            }
            .title2 {
                margin: 0;
                color: $primary;
            }
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.25rem 0;

    .headline-a {
        margin: 0;
        color: $black-01;
    }
    .number {
        font-size: calc(1.375rem + 0.9vw);
        color: $primary;
    }
}

.line {
    margin-bottom: .875rem;
}

// about
.about {
    .title {
        h4 {
            color: $gray-100;
        }
    }
}



// footer////////////////////////////////

