@import "all";

// ////////HEADER////////////////////////////////
header, .segmented-controls--home ,footer {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: $white;
}

header {
    top: 0;
}
.navbar {
    .container {
        flex-wrap: nowrap;
        gap: .5rem;
        
        @media (min-width: 768px) {
            height: 4rem;
        }
    }

    button {
            padding: 0;
    }

    .navbar-brand {
        margin: 0;

        img {
            width: 2rem;
            height: 2rem;

            @media (min-width: 768px) {
                width: 2.25rem;
                height: 2.25rem;
            }
        }
    }
    .search-box {
        width: 100%;
        form {
            @media (min-width: 768px) {
                height: 2.5rem;
            }
            span {
                @media (min-width: 768px) {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
        .search {
            background-color: $gray-200;
        }
    }
    .btn-group {
        button:nth-of-type(1) {
                margin-right: .5rem;
        }
        span {
        background-color: $black-02;
            @media (min-width: 768px) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    } 
}

.segmented-controls--home {
    top: 3.625rem;
    
    @media (min-width: 768px) {
        top: 5rem;
    }

    .nav {
        .nav-item {
            padding-top: .625rem;
        }
        .nav-link {
            padding: 0;
    
            .icon-content {
                display: inline-block;
                margin-bottom: .25rem;
    
                @media (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-bottom: .5rem;
                }
    
                span {
                    text-align: center;
                }
            }
            .box {
                display: block;
                width: 100%;
                height: .25rem;
                background-color: $gray-500;
            }
            &:hover .box {
                background-color: $primary;
                border-radius: .25rem .25rem 0 0;
            }
    
            @media (min-width: 768px) {
                display: block;

                // height: 3.5rem;
            }
        }
    } 
}

///////////////////// MAIN///////////////////////////////////
main {
    margin-top: calc(8.47rem + 1.3vw);

    @media (min-width: 768px) {
        margin-top: calc(9.375rem + 1.3vw);
    }
}
// carousel     swiper.js//
.carousel {
    position: relative;
    width: 100%;
    margin-top: calc(1rem + 1.3vw);
    margin-bottom: calc(1.75rem + 2.3vw );
    
    .swiper {
            margin: auto;
    
        .swiper-slide {
            aspect-ratio: 16 / 9;

            img {
                background-image: url(../Images/img.svg);
                @extend %radius4;
            }
        }   
    }
}
.swiper-pagination {
    z-index: 2;
}
.swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: .25rem;
    height: .25rem;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 1.5rem;
    border-radius: 1rem;
    background-color: $gray-300;
}

@media (min-width: 768px) {
    .swiper-pagination .swiper-pagination-bullet {
        width: .5rem;
        height: .5rem;   
    }
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 3rem;
    }
}

// ///////////CONTENT////////////////
content {
    display: flex;
    flex-direction: column;

    gap: calc(2.125rem + 2.3vw);
}

// hot-search//
.hot-search {
   .card_top {
    padding: .625rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4%;
    
        img {
            @extend %top-bg;
            @extend %radius2;
        }

        .top1 {
            grid-area: 1 / 1 / 3 / 3;
            aspect-ratio: 1 / 1;
            
            position: relative;

            .title {
                padding: .5rem;
                min-height: 16%;

                h5 {
                    width: 40%;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
        .top2, .top3 {
            aspect-ratio: 21 / 9;
            position: relative;

            .title {
                padding: .125rem;
                min-height: 22%;

                h5 {
                    text-align: end;
                    width: 36%;
                }
                p {
                    text-align: start;
                }
            }
        }
        .top2 {
            grid-area: 1 / 3 / 2 / 5;
        }
        .top3 {
            grid-area: 2 / 3 / 3 / 5;
            align-self: end;
        }

        .title {
            border-radius: 0 0 2% 2%;
            background-color: $white-02;
            @extend %blur3;

            position: absolute;
            bottom: 0;
            width: 100%;

            h5 {
                    margin: 0;
                    
            }
            
            p {
                color: $black-02;
                -webkit-text-stroke: 0.0125rem $black-03;
                width: 55%;
                       
            }      
        }
   }
}


// HITO         swiper.js//
.hito {
    .swiper {
        width: 100%;
        height: 100%;    
    }
    .swiper-wrapper{
        padding: .625rem 0;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            @extend %r-bg;
        }
        img {
            aspect-ratio: 16 / 9;
            border-radius: 2% 2% 0 0;
        }
        .card-body {
            padding: .375rem .5rem;
            text-align: center;
            border-radius: 0 0 2% 2%;

            @extend %blur3;
            background-color: $white-02;
            
            @media (min-width: 768px)  {
                padding: calc(.5rem + 0.3vw);
            }

            h5 {
                margin: 0;
                color: $black-02;
                -webkit-text-stroke: 0.0125rem $black-03;
            }
        }
        
    }
    .swiper-pagination-1 {
        display: none;

        @media (min-width: 768px) {
            display: block;
            text-align: center;
            margin: .5rem;
        }
    }
    .swiper-button-next-1 {
        height: 200px;
    }
}

// recommend    swiper.js//
.recommend {
    .swiper {
            width: 100%;
            height: 100%;
    }
    .swiper-pagination-2 {
        display: none;
    
        @media (min-width: 768px) {
            display: block;
            text-align: center;
            margin: .8rem 3rem;
        }
    }          
}

        
// movie        swiper.js//
.movie {
    margin-bottom: 5.5rem;
    .swiper {
        width: 100%;
        height: 100%;
        
        .smallCard {
            span {
                background-color: $white;
                width: 22%;
                height: 22%;
            }
            .card-cover {
                background: $black-04;
                padding: .375rem 1.125rem;
    
                p {
                    max-width: 100%;
                }
            }
        }
    }
    .swiper-pagination-3 {
        display: none;

        @media (min-width: 768px) {
            display: block;
            text-align: center;
            margin: 1rem 3rem;
        }
    }
}



// footer
footer {
    bottom: 0;
    .tabbar {
        border-top: .025rem solid $gray-400;
        padding: 0.25rem 0;
        .nav-link {
            color: $gray-200;
        }
        .btn-active {
            color: $primary;
        }
    }
}











