@import "all";

/* force scrollbar */
html { overflow-y: scroll; }


///////////////////// MAIN///////////////////////////////////
main {
    padding-top: calc(5.3rem + 0.3vw);
    padding-bottom: calc(6rem + 0.3vw);
}
.container-28 {
    padding: 0 1.75rem;
}
.box {
    padding: 0 .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .img-container {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.125rem;

        @media (min-width: 768px) {
            width: 7.5rem;
            height: 7.5rem;
            margin-bottom: 2.25rem;
        }
        img {
            background: $white;
        }
    }
    .mb-20 {
        margin-bottom: calc(1rem + 1.2vw);
    }
    form {
        .input-field {
            .text-field {
                .form-control {
                    line-height: 1.85;
                }
            }
        }
        .tool-focus {
            width: 100%;
            padding: .625rem;
            margin-top: 1.625rem;
            margin-bottom: 1.875rem;

            @media (min-width: 768px) {
                padding: 1rem;
            }
        }
    }
}
.lines {
    width: 100%;
    padding: .075rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        background-color: $gray-300;
    }
    .subhead {
        margin: 0 .75rem 0;
    }
}
.other-login {
    width: 100%;
    margin-top: 1.875rem;

    span {
        background-color: transparent;
        margin-right: .25rem;
    }
    .footnote {
        color: $gray-100;
        margin-top: 1rem;
        line-height: 1.2;
    }
}
    
    
    























