@import "all";

// ////////HEADER////////////////////////////////

.navbar {
    padding: .625rem 0;

    .container {
        justify-content: flex-start;
        gap: .25rem;
        
        h6 {
            margin: 0;
            display: inline-block;
        }
    }
}

///////////////////// MAIN///////////////////////////////////
main {
    padding-top: calc(1.2rem + 1.3vw);
    padding-bottom: calc(2.2rem + 1.3vw);

    @media (min-width: 768px) {
        padding-top: calc(2rem + 1.3vw);
    }
}

.info {
    padding: .75rem 0 1.5rem;
        @media (min-width: 768px) {
            padding: 1.75rem 0;
        }
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 2.125rem;
        
        &:not(:last-child) {
            margin-bottom: .5rem;

            @media (min-width: 768px) {
                margin-bottom: .875rem;
            }
        }
        .subhead {
            margin: 0;
            color: $gray-100;
        }
        .price {
            h5, h4 {
                color: $black-01;
            }
            .gray {
                color: $gray-100;
            }
            .pri {
                color: $primary;
            }
        }
    }
}
.course-progress {
    .header {
        margin: auto;
        h1 {
            margin-bottom: .5rem;
            @extend %headline-a;
            justify-content: center;
        }
    }
    .body {
        padding: 1rem .75rem;
        max-width: 100%;
        @extend %radius8;
        border: 1px solid $gray-100;
    
        .ink-progress {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: .5rem;
            grid-row-gap: .875rem;
            
            .ink {
                display: inline-block;
                text-align: center;
                
                .circle-bg {
                    margin: auto;
                    margin-bottom: .125rem;
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 50%;
                    background-color: $gray-400;
                    @include pad {
                        width: 5rem;
                        height: 5rem;
                    }
                    .img-container {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        overflow: hidden;
                        transform: translate(13%,10%);
                        @include pad {
                            width: 4.5rem;
                            height: 4.5rem;
                            transform: translate(6%,5%);
                        }
                        img {
                            background-color: $white;
                        }
                    }
                }
                .time {
                    @extend %caption2;
                    color: $gray-100;
                }
            }
        }
    }
}



















