@import "all";

// ////////HEADER////////////////////////////////
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $white;
    top: 0;
}


.navbar {
    padding: .625rem 0;
    
    .container {
        justify-content: flex-start;
        
        .icon {
            background-color: $black-01;
        }
        h6 {
            margin: 0;
            color: $black-01;
        }
    }
}

///////////////////// MAIN///////////////////////////////////
main {
    margin-top: calc(2.75rem + 1.3vw);

    @media (min-width: 768px) {
        margin-top: calc(3.25rem + 1.3vw);
    }
}

.search-bar {
    margin: .5rem 0;
    .btn {
        padding: 0;
    }

    @media (min-width: 768px) {
        height: 4rem;
    }
    .search {
        background-color: $gray-200;
    }
}

// ///////////CONTENT////////////////
content {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;

    @media (min-width: 768px) {
        gap: 0.625rem;  
    }
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(0.5rem + 0.3vw);
    overflow: hidden;
    min-height: 4.625rem;
    margin: .25rem 0;

    &:last-child{
        margin-bottom: 4.5rem;
    }
    .message-avator {
        flex-shrink: 0;
        margin: .75rem;
        
        @media (min-width: 768px) {
            width: 3.75rem;
            height: 3.75rem;
        }

    }


    .message-content {
        width: 100%;
    }

    .message-body, 
    .message-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(0.5rem + 0.3vw);
    }

    .message-body {
        margin-bottom: .125rem;
        h5 {
            margin: 0;
            color: $black;

            overflow: hidden;
            @include textOverflow(1);
        }
        .time {
            @extend %footnote;
            color: $gray-100;
            padding: 0 .125rem;
        }
    }
    .message-footer {
        .subhead {
            margin: 0;
            color: $gray-100;
           
            overflow: hidden;
            @include textOverflow(2);
            align-self:flex-start;
        }
        
        .number0,
        .number1 {
            width: 1.25rem;
            height: 1.25rem;
            margin: .625rem;
            flex-shrink: 0;

            @media (min-width: 768px) {
                width: 1.875rem;
                height: 1.875rem;
            }
        }

        .number0 {
            background-color: transparent;
        }

        .number1 {
            background-color: $primary;
        }
    }
}


// footer
footer {
    background-color: $white;
    position: fixed;
    width: 100%;
    bottom: 0;

    .tabbar {
        border-top: .025rem solid $gray-400;
        padding: 0.25rem 0;
        .nav-link {
            color: $gray-200;
        }
    }
}












