@import "all";

// ////////HEADER////////////////////////////////
header,footer {
    position: fixed;
    z-index: 2;
    width: 100%;
}

header {
    top: 0;
    background: $nav-linear;
}

.navbar {
    .container {
        justify-content: space-between;

        @media (min-width: 768px) {
            height: 4rem;
        }
        button {
            padding: 0;
            color: $black-01;
        }
        span {
            background-color: $black-02;
                @media (min-width: 768px) {
                    width: 1.875rem;
                    height: 1.875rem;
                }

                @media (min-width: 1440px) {
                    width: 2.25rem;
                    height: 2.25rem;
                }
        }
    }
}

////////////////// MAIN//////////////////////////
main {
    .container-11 {
        padding: 0 .7188rem;

        .profilePage {
            position: relative;
        }
    }
    .container {
        .info {
            margin-top: 4.6875rem;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

                @media (min-width: 768px) {
                    margin-top: 7.75rem;
                    margin-bottom: 2rem;
                }
                @media (min-width: 1440px) {
                    margin-top: 10.375rem;
                    margin-bottom: 2.1rem;
                }
            .title2 {
                margin-bottom: .0625rem;
                color: $black-02;
                padding: .0313rem 0;

                @media (min-width: 768px) {
                    padding: .625rem 0;
                }
            }
            .subhead {
                margin: 0;
                color: $gray-100;
            }
            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                gap: .25rem;
                @include pad {
                    gap: .5rem;
                }

                .teaching {
                    display: flex;
                    gap: .5rem;
                    justify-content: center;
                    h5, p{
                        margin: 0;
                        color: $primary;
                    }
                }
                .place {
                    p {
                        margin: 0;
                        color: $black-03;
                        text-align: justify;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

                @media (min-width: 768px) {
                    gap: 2rem;
                }
            .button-active {
                width: 100%;
                text-align: center;
                padding: .625rem .75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .25rem;
                .subhead {
                    margin: 0;
                }
            }
            .button {
                width: 100%;
                text-align: center;
                padding: .7188rem .75rem;
                
                @include mobile {
                    padding: .625rem .6875rem;
                }
                @media (min-width: 768px) {
                    padding: .875rem .825rem;
                }
                @media (min-width: 1440px) {
                    padding: 1rem 1.2rem;
                }
            }
        }
    }
    content {
        .segmented {
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: $white;
            
            .segmented-controls {     
                display: flex;
                padding: 1rem 0 .75rem;
                .movie-btn {
                    gap: .125rem;
                    .caption1 {
                        line-height: 1.56;
                    }
                    .box {
                        background-color: transparent;
                    }
                &:hover {
                    .box {
                        background-color: $primary;
                        border-radius: 0.25rem 0.25rem 0 0;
                    }
                }
                }
                .btn-active {
                    h6 {
                        color: $primary;
                    }
                    .box {
                        background-color: $primary;
                        border-radius: 0.25rem 0.25rem 0 0;
                    }
                }
            .grid {
                padding-top: calc(.5rem + 1.3vw);
                padding-bottom: calc(5rem + 1.3vw);
        
                    @media (min-width: 768px) {
                        padding-top: calc(1.5rem + 1.3vw);
                        padding-bottom: calc(7rem + 1.3vw);
                    }
            }
            }
        }
        .grid {
            padding-bottom: 5rem;
        }
    }
}



// footer////////////////////////////////
footer {
    bottom: 0;
    height: 34px;
    width: 100%;
   
    background: $bars;
    @extend %blur20;

}
