@import "all";
body {
    // height: 100vh;
    // overflow: hidden;
}

// ////////HEADER////////////////////////////////
header,footer {
    position: fixed;
    z-index: 2;
    width: 100%;
}

header {
    background-color: transparent;
    top: 0;
}

.navbar {
    .container {
        @media (min-width: 768px) {
            height: 4rem;
            max-width: 90%;
        }

        button {
            padding: 0;
        }

        span {
            background-color: $white;
                @media (min-width: 768px) {
                    width: 1.875rem;
                    height: 1.875rem;
                }
                @media (min-width: 1440px) {
                    width: 2.25rem;
                    height: 2.25rem;
                }
        }
    }
}

////////////////// MAIN//////////////////////////
main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.movieCard-full { 
    @extend %movieCard;
    .img-container {
        img {
            aspect-ratio: 3 / 4;
            border-radius: 0%;
            box-shadow: none;
        }
        .card-cover {
            height: 5rem;
            align-items: flex-start;

            background: $other-03;
            @extend %blur20;
            border-radius: 0%;
            padding: .625rem 1.125rem;
        }
    }
}
main .container {
    transform: translate(0, -7%);

    background: $bg;
    border-radius: .9375rem .9375rem 0 0;

   
    @media (min-width: 768px) {
        max-width: 98%;
        transform: translate(0, -3%);
        padding: 1rem 2rem;
    }
    @media (min-width: 2560px) {
        padding: 2rem 3rem;
    }
}

.movie-content {
    padding: 1.5rem 0 1.4rem;
    .avator, .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.25rem;
    }
    h6 {
        margin-bottom: 1.5rem;
        color: $gray-100;
        text-align: justify;
        line-height: 1.2;
    }
    .text {
        gap: .375rem;
        margin: 0;

        .caption1 {
            margin: 0;
            color: $primary;
            @include textOverflow(1);
            overflow: hidden;
            width: 65%;
        }
        .company-focus {
            padding: 0.625rem 0.9rem;
            width: 35%;

            @media (max-width: 320px) {
                padding: 0.625rem 0.7rem;
            }
        }
    }
}

.movie {
        @media (min-width: 768px) {
            margin-bottom: 2.375rem;
        }
    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 2.625rem;
        
        .swiper-wrapper {
            padding: .625rem 0;

            .img-container {
                display: block;
                aspect-ratio: 16 / 9;
                @extend %radius8;
                overflow: hidden;
                @extend %r-bg; 
            }
        }

        .swiper-pagination {
            display: none;
    
            @media (min-width: 768px) {
                display: block;
                text-align: center;
            }
        }
        .swiper-pagination .swiper-pagination-bullet {
            background-color: $gray-300;
            width: .25rem;
            height: .25rem;
        }
        span.swiper-pagination-bullet.swiper-pagination-bullet-active {
            width: 1.5rem;
            border-radius: 1rem;
            background-color: $gray-300;
        }
        @media (min-width: 768px) {
            .swiper-pagination .swiper-pagination-bullet {
                width: .5rem;
                height: .5rem;
                background-color: $gray-300;

            }
            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                width: 3rem;
                background-color: $gray-300;

            }
        }
    }
}



    

// footer////////////////////////////////
footer {
    bottom: 0;
    width: 100%;
    background-color: $white;

    .tabbar {
        border-top: .025rem solid $gray-400;
        padding: 0.25rem 0;
        .nav-link {
            color: $gray-200;
        }
        .btn-active {
            color: $primary;
        }
    }
}
