@import "all";
body {
    height: 100vh;
    // overflow: hidden;
}

// ////////HEADER////////////////////////////////
header,footer {
    position: fixed;
    z-index: 2;
    width: 100%;
}

header {
    background-color: transparent;
    top: 0;
}

.navbar {
    .container {
        @media (min-width: 768px) {
            height: 4rem;
            max-width: 90%;
        }
        span {
            background-color: $white;
        }
        button {
            padding: 0;
        }
        .btn-group {
            .btn:active {
                border-color: transparent;
            }
            button:nth-of-type(1) {
                    margin-right: calc(0.25rem + 0.3vw);
            }
            span {
                cursor: pointer;

                    @media (min-width: 768px) {
                        width: 1.875rem;
                        height: 1.875rem;
                    }

                    @media (min-width: 1440px) {
                        width: 2.25rem;
                        height: 2.25rem;
                    }
            }
            .unfill-heart {
                background-color: $white;
                transition: all .3s;
            }
            .heart {
                background-color: $primary;
                transition: all .3s;
            }
        } 
    }
}

////////////////// MAIN//////////////////////////
main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.movieCard-full { 
    @extend %movieCard;
    .img-container {
        img {
            aspect-ratio: 9 / 16;
            height: 80vh;
            border-radius: 0%;
            box-shadow: none;
        }
        .card-cover {
            height: 5rem;
            align-items: flex-start;

            background: $other-03;
            @extend %blur20;
            border-radius: 0%;
            padding: .625rem 1.125rem;
        }
    }
}
main .container {
    background: $bg;
    border-radius: .9375rem .9375rem 0 0;
   
        @media (min-width: 768px) {
            max-width: 98%;
            padding: 1rem 2rem;
        }
        @media (min-width: 2560px) {
            padding: 2rem 3rem;
        }

    .movie-content {
        padding: 1.5rem 0 1.4rem;
        .avator, .text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;
            margin-bottom: 1.25rem;
        }
        .avator {
            .avator_large {
                width: 100%;
                .subhead {
                    margin: 0;
                    font-size: calc(0.86rem + 0.3vw);
                    @include pad {
                        font-size: calc(1.5rem + 0.3vw);
                    }
                }
            }
            .company-follow {
                width: 37%;
                padding: calc(0.4rem + 0.3vw) calc(1.06rem + 0.3vw);
                @include mobile {
                    padding: 0;
                }
            }
            .company-follow-active {
                color: $primary;
                background-color: $other-01;
                border: .025rem solid $black-05;

                span {
                    display: none;
                }
            }
        }
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin-bottom: 1.5rem;
            max-height: 1.125rem;
            h6 {
                margin: 0;
                color: $black-02;
                text-align: justify;
                line-height: 1.2;

                @include textOverflow(1);
                overflow: hidden;
                width: 60%;
            }
            p {
                margin-bottom: 0;
                color: $gray-100;
                width: 20%;
            }
        }
        .moreText {
            flex-direction: column;
            max-height: inherit;
            h6 {
                width: 100%;
                overflow: visible;
                display: initial;
                min-height: 5.625rem;
            }
            p {
                display: none;
            };
        }
        
        .text {
            gap: .375rem;
            margin: 0;
    
            .caption1 {
                margin: 0;
                color: $primary;
                @include textOverflow(1);
                overflow: hidden;
            }
            .company-focus {
                padding: 0.625rem 0.9rem;
                width: 37%;
                @media (max-width: 320px) {
                    padding: 0.625rem 0.7rem;
                }
            }
        }
    }

    .movie {
            @media (min-width: 768px) {
                margin-bottom: 2.375rem;
            }
        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 2.625rem;
            
            .swiper-wrapper {
                padding: .625rem 0;
    
                .img-container {
                    display: block;
                    aspect-ratio: 16 / 9;
                    @extend %radius8;
                    overflow: hidden;
                    @extend %r-bg; 
                }
            }
    
            .swiper-pagination {
                display: none;
        
                @media (min-width: 768px) {
                    display: block;
                    text-align: center;
                }
            }
            .swiper-pagination .swiper-pagination-bullet {
                background-color: $gray-300;
                width: .25rem;
                height: .25rem;
            }
            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                width: 1.5rem;
                border-radius: 1rem;
                background-color: $gray-300;
            }
            @media (min-width: 768px) {
                .swiper-pagination .swiper-pagination-bullet {
                    width: .5rem;
                    height: .5rem;
                    background-color: $gray-300;
    
                }
                span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                    width: 3rem;
                    background-color: $gray-300;
    
                }
            }
        }
    }
}

.flip {
    transform: translate(0, -7%);
    transition: all .6s;

        @media (min-width: 768px) {
            transform: translate(0, -3%);
        }
}
.addH {
    transform: translate(0, -80%);
    transition: all .6s;
}





    

// footer////////////////////////////////
footer {
    bottom: 0;
    width: 100%;
    background-color: $white;

    .tabbar {
        border-top: .025rem solid $gray-400;
        padding: 0.25rem 0;
        .nav-link {
            color: $gray-200;
        }
        .btn-active {
            color: $primary;
        }
    }
}
